<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PageTestProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.matajo.pitpet.visitCounter.controller.SesstionListener</listener-class>
  </listener>
  <filter>
   <filter-name>encoding</filter-name>
   <filter-class>com.matajo.pitpet.common.EncodingFilter</filter-class>
  </filter>

  <filter-mapping>
   <filter-name>encoding</filter-name>
   <url-pattern>*</url-pattern>
  </filter-mapping>
  
  <filter>
   <filter-name>encriptFilter1</filter-name>
   <filter-class>com.matajo.pitpet.common.EncryptFilter</filter-class>
  </filter>

  <filter-mapping>
   <filter-name>encriptFilter1</filter-name>
   <url-pattern>/passUpdate.do</url-pattern>
  </filter-mapping>

  <filter>
   <filter-name>encriptFilter2</filter-name>
   <filter-class>com.matajo.pitpet.common.EncryptFilter</filter-class>
  </filter>

  <filter-mapping>
   <filter-name>encriptFilter2</filter-name>
   <url-pattern>/login.do</url-pattern>
  </filter-mapping>
  
  <filter>
   <filter-name>encriptFilter3</filter-name>
   <filter-class>com.matajo.pitpet.common.EncryptFilter</filter-class>
  </filter>

  <filter-mapping>
   <filter-name>encriptFilter3</filter-name>
   <url-pattern>/join.do</url-pattern>
  </filter-mapping>
  
  <filter>
   <filter-name>encriptFilter4</filter-name>
   <filter-class>com.matajo.pitpet.common.EncryptFilter</filter-class>
  </filter>

  <filter-mapping>
   <filter-name>encriptFilter4</filter-name>
   <url-pattern>/pwssCheck.do</url-pattern>
  </filter-mapping>
</web-app>